{% extends 'app.html.twig' %}

{% block title %}{{ 'Catalogue' | trans }}{% endblock %}

{% block page_title %}{{ 'Catalogue de cours' | trans }}{% endblock %}

{% block content %}
<div class="space-y-12">
    
    {# Header Section #}
    <div>
        <h1 class="text-3xl font-bold mb-3">{{ 'Catalogue de cours' | trans }}</h1>
        <p class="text-muted-foreground text-lg">{{ 'Explorez tous les cours disponibles' | trans }}</p>
    </div>

    <twig:CourseCatalog :subscribedCourseIds="subscribedCourseIds" />
</div>
{% endblock %}
