{% extends 'app.html.twig' %}

{% block title %}
	{{'Courses' | trans}}
{% endblock %}

{% block content %}
	<h1 class="ion-text-center">{{'All courses' | trans}}</h1>
	{% include "course/_list.html.twig" %}
{% endblock %}
