{% extends 'ionic.html.twig' %}

{% block content %}


<div class="ion-padding">
    <p>{{'You are currently offline' | trans}}</p>
    <p>{{'Please check your internet connection and try again' | trans}}</p>
</div>
{% endblock %}
