{% extends 'ionic.html.twig' %}

{% block title %}
	{{'Home' | trans}}
{% endblock %}


{% block pageTitlte %}
	{{block('title')}}
{% endblock %}

{% block content %}
	<h1 class="ion-text-center">
		{{'My courses' | trans}}
	</h1>
	{% include "course/_list.html.twig" %}
{% endblock %}
