{% extends 'ionic.html.twig' %}

{% block title %}
	{{'Home' | trans}}
{% endblock %}


{% block pageTitlte %}
	{{block('title')}}
{% endblock %}

{% block content %}
	<h1 class="ion-text-center">
		{{'My courses' | trans}}
	</h1>
{% endblock %}

{% block stylesheets %}
	{{parent()}}
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
{% endblock %}
