{% extends 'landing.html.twig' %}

{% block title %}
	{{'Home' | trans}}
{% endblock %}

{% block content %}
	<ion-grid>
		<ion-row class="ion-justify-content-center">
			<ion-col>
				<div class="ion-text-center container">
					<ion-card>
						<ion-card-header>
							<ion-card-title>
								{{'The school for builders of the kingdom of God' | trans}}
							</ion-card-title>
						</ion-card-header>
						<ion-card-content>
							<img src="https://assets-global.website-files.com/603772106b5a5a4ae7f49603/6040caf9eb7dcd6696e3144e_Hero-image-min%20-%20Copie%20(3).jpg" alt="Le Rocher Académie Logo" style="max-width: 100%;">
							<ion-button expand="full" href="{{path('register')}}" color="danger">{{'Enroll Now' | trans}}</ion-button>
						</ion-card-content>
					</ion-card>
				</div>
			</ion-col>
		</ion-row>
	</ion-grid>
{% endblock %}
