<callout>
	<p>
		{{user.firstname}}
		{{'Has just completed the course' | trans | lower}}
		:
		<strong>
			{{course.title}}.
		</strong>
		{{"Don't hesitate to congratulate him" | trans}}
	</p>
</callout>
