{% extends 'ionic.html.twig' %}

{% block title %}
	{{'Notifications' | trans}}
{% endblock %}

{% block content %}
	<div class="ion-padding">
		<ion-list>
			{% for notification in notifications %}
				<ion-item href="{{ path('notification_show', { id:notification.id }) }}" {% if not notification.isRead %} color="light" {% endif %}>
					<ion-label>{{notification.message}}</ion-label>
				</ion-item>
			{% endfor %}
		</ion-list>
	</div>
{% endblock %}


{% block menuBackButton %}
	<ion-button href="{{path('home')}}">
		<ion-icon name="arrow-back-outline"></ion-icon>
	</ion-button>
{% endblock %}
