{% extends 'ionic.html.twig' %}

{% block title %}
	{{notification.title ? notification.title : 'Notification' | trans}}
{% endblock %}

{% block content %}
	<div class="ion-padding">
		{{notification.message | raw}}
	</div>
{% endblock %}

{% block menuBackButton %}
	<ion-button href="{{path('notification_index')}}">
		<ion-icon name="arrow-back-outline"></ion-icon>
	</ion-button>
{% endblock %}
