<form method="post" action="{{ path('admin_cohort_delete', {'id': cohort.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet élément ?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ cohort.id) }}">
	<twig:Button variant="destructive">
        <twig:ux:icon name="lucide:trash-2" class="w-4 h-4 mr-2" />
        {{ 'Supprimer' | trans }}
    </twig:Button>
</form>
