<form method="post" action="{{ path('admin_badge_type_delete', {'id': badge_type.id}) }}" onsubmit="return confirm('{{ 'Êtes-vous sûr de vouloir supprimer ce type de badge ?'|trans }}');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ badge_type.id) }}">
    <twig:Button variant="destructive" class="w-full">
        <twig:ux:icon name="lucide:trash-2" class="w-4 h-4 mr-2" />
        {{ 'Supprimer' | trans }}
    </twig:Button>
</form>
