<ion-item>
	<form method="post" action="{{ path('admin_note_delete', {'id': note.id}) }}" onsubmit="return confirm('{{ 'Êtes-vous sûr de vouloir supprimer cette note ?'|trans }}');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ note.id) }}">
    <twig:Button variant="destructive" class="w-full">
        <twig:ux:icon name="lucide:trash-2" class="w-4 h-4 mr-2" />
        {{ 'Supprimer' | trans }}
    </twig:Button>
</form>
</ion-item>
