{% extends 'admin/layout.html.twig' %}

{% block title %}
	{{'Lessons' | trans}}
{% endblock %}

{% block content %}

	<a href="{{ path('admin_lesson_new') }}">{{'Create new' | trans}}</a>

	{% include "admin/lesson/_list.html.twig" %}

{% endblock %}
