{% extends 'admin/layout.html.twig' %}

{% block title %}
	{{"New lesson" | trans}}
{% endblock %}

{% block menuBackButton %}
	<ion-button href="{{path('admin_lesson_index')}}">
		<ion-icon name="arrow-back-outline"></ion-icon>
	</ion-button>
{% endblock %}

{% block content %}
	<div class="ion-padding">
		{{ include('admin/lesson/_form.html.twig') }}
	</div>
{% endblock %}
