{% extends 'admin/layout.html.twig' %}

{% block title %}
	{{'Courses' | trans}}
{% endblock %}

{% block content %}
	<a href="{{ path('admin_course_new') }}">{{'Create new' | trans}}</a>
	{% include "admin/course/_list.html.twig" %}
{% endblock %}
