{% extends 'admin/layout.html.twig' %}

{% block title %}
	{{'New Course' | trans}}
{% endblock %}

{% block content %}
	<h1>Create new Course</h1>

	{{ include('admin/course/_form.html.twig') }}

	<a href="{{ path('admin_course_index') }}">back to list</a>
{% endblock %}
