{% extends 'admin/layout.html.twig' %}

{% block title %}
	{{'New course' | trans}}
{% endblock %}

{% block menuBackButton %}
	<ion-button href="{{path('admin_course_index')}}">
		<ion-icon name="arrow-back-outline"></ion-icon>
		{{'Back' | trans}}
	</ion-button>
{% endblock %}

{% block content %}
	<div class="ion-padding">
		{{ include('admin/course/_form.html.twig') }}
	</div>
{% endblock %}
