{% extends 'appWithBottomTabs.html.twig' %}

{% block title %}{{ 'Mes Évaluations' | trans }}{% endblock %}
{% block page_title %}{{ 'Évaluations' | trans }}{% endblock %}

{% block content %}
<div class="space-y-8">
    {{ component('UserEvaluationsComponent') }}
</div>
{% endblock %}
