:root {
  --app-body-bg: #f5f5f5;
  --app-body-bg-rgb: 245, 245, 245;
  --app-border-width: 1px;
  --app-border-color: #dee2e6;
  --app-border-color-translucent: rgba(0, 0, 0, 0.175);
  --app-border-radius: 0.375rem;
  --app-form-select-bg-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");

  --ion-text-color: #505050;

  /* Light */
  --ion-color-light: #f5f5f5;
  --ion-color-light-rgb: 245, 245, 245;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d8d8d8;
  --ion-color-light-tint: #f6f6f6;

  /* Primary */
  --ion-color-primary: #1877f2;
  --ion-color-primary-rgb: 24, 119, 242;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #1569d5;
  --ion-color-primary-tint: #2f85f3;

  /* Success */
  --ion-color-success: #198754;
  --ion-color-success-rgb: 25, 135, 84;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #16774a;
  --ion-color-success-tint: #309365;

  /* Warning */
  --ion-color-warning: #f2b705;
  --ion-color-warning-rgb: 242, 183, 5;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #d5a104;
  --ion-color-warning-tint: #f3be1e;

  /* Danger */
  --ion-color-danger: #f24e29;
  --ion-color-danger-rgb: 242, 78, 41;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d54524;
  --ion-color-danger-tint: #f3603e;

  /* Purple */
  --ion-color-purple: #6c5bd9;
  --ion-color-purple-rgb: 108, 91, 217;
  --ion-color-purple-contrast: #ffffff;
  --ion-color-purple-contrast-rgb: 255, 255, 255;
  --ion-color-purple-shade: #5f50bf;
  --ion-color-purple-tint: #7b6bdd;
}

html[data-turbo-visit-direction="forward"]::view-transition-old(
    sidebar
  ):only-child {
  animation: slide-to-right 0.5s ease-out;
}

a {
  color: #9689eb;
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  color: #6c5bd9;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  transition: opacity 1000ms;
  color: #505050;
}

body.turbo-loading,
body.turbo-loaded {
  opacity: 0.2;
}

p,
li {
  line-height: 2;
  margin: 1rem 0;
}

/* Tables */
table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  min-height: 0.01%;

  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}

table > caption + thead > tr:first-child > td,
table > caption + thead > tr:first-child > th,
table > colgroup + thead > tr:first-child > td,
table > colgroup + thead > tr:first-child > th,
table > thead:first-child > tr:first-child > td,
table > thead:first-child > tr:first-child > th {
  border-top: 0;
}

table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
}

table > tbody > tr > td,
table > tbody > tr > th,
table > tfoot > tr > td,
table > tfoot > tr > th,
table > thead > tr > td,
table > thead > tr > th {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}

.table-responsive {
  overflow-x: auto;
}

th {
  text-align: left;
}

/* Quote */
blockquote,
.blockquote {
  background-color: #eee;
  padding: 1em;
  margin: 2em;
  border-radius: 1em;
  font-size: 1rem;
  position: relative;
}

blockquote::before,
.blockquote::before {
  content: url("../../images/icons/quote-64x64.png");
  position: absolute;
  top: -2rem;
  left: -2rem;
}

blockquote::after,
.blockquote::after {
  display: block;
  text-align: right;
}

iframe {
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
  display: block;
}

.h1,
h1 {
  font-size: calc(1.275rem + 1vw);
  font-weight: bold;
}

.h2,
h2 {
  font-size: calc(1rem + 0.5vw);
  margin: 0.5rem 0;
  padding: 0.5rem 0;
}

.lesson-content h2 {
  border-bottom: 1px solid #cecece;
}

.h3,
h3 {
  font-size: calc(1rem + 0.25vw);
}

hr {
  margin: 1rem 0;
  color: inherit;
  border: 0;
  border-top: var(--app-border-width) solid;
  opacity: 0.25;
}

ion-card h2 {
  border: none;
}

.container {
  max-width: 900px;
  margin: 0px auto;
}

.logo {
  height: 6rem;
  max-height: 100px;
  width: auto;
}

/* Landing page */
.home {
  background-image: url("../../images/landing-home-bullet.png");
  background-size: cover;
  background-position: top center;
}

.home img {
  max-height: 400px;
}

.home img.ion-padding-top {
  padding-top: 3rem;
}
