.img-responsive {
  max-width: 100%;
}

.bg-primary {
  background-color: var(--ion-color-primary) !important;
}

.bg-danger {
  background-color: var(--ion-color-danger) !important;
}

.bg-warning {
  background-color: var(--ion-color-warning) !important;
}

.bg-success {
  background-color: var(--ion-color-success) !important;
}

.bg-light {
  background-color: var(--ion-color-light) !important;
}

/* Font size */
.fs-1 {
  font-size: calc(1rem + 0.5vw);
}
.fs-2 {
  font-size: calc(1rem + 0.4vw);
}
.fs-3 {
  font-size: calc(1rem + 0.3vw);
}
.fs-4 {
  font-size: calc(1rem + 0.2vw);
}
.fs-5 {
  font-size: calc(1rem + 0.1vw);
}

/* Width */
@media (min-width: 992px) {
  .w25 {
    width: 25%;
  }
}
.w100 {
  width: 100%;
}

.w50 {
  width: 50%;
}

/* Display */
.mx-auto {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Border */
.border-radius {
  border-radius: 50px;
}
