{# <ion-item button href="{{path('note_show_lesson', {id:note.lesson.id, courseSlug:course.slug, moduleSlug:note.lesson.module.slug})}}"> #}
<ion-item button href="{{path('note_show', {id:note.id})}}">
	<ion-label>
		<h3>{{note.lesson.title}}</h3>
		<p>{{note.lesson.content | raw | u.truncate(200, '...') }}</p>
	</ion-label>
</ion-item>
