{% extends 'ionic.html.twig' %}

{% block title %}
	{{'Note taking' | trans}}
{% endblock %}


{% block pageTitle %}
	{{block('title')}}
{% endblock %}


{% block content %}
	{% for note in notes %}
		<ion-list>
			{{ include('note/_item.html.twig') }}
		</ion-list>
	{% else %}
		<p class="ion-text-center">
			{{'No note available' | trans}}
		</p>
	{% endfor %}
{% endblock %}
