<form method="post" action="{{ path('app_admin_evaluation_delete', {'id': evaluation.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette évaluation ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ evaluation.id) }}">
    <twig:Button variant="danger" size="sm">
        <twig:ux:icon name="lucide:trash-2" class="w-4 h-4 mr-2" />
        {{ 'Supprimer' | trans }}
    </twig:Button>
</form>
