{% extends 'base.html.twig' %}

{% block title %}Edit Evaluation{% endblock %}

{% block body %}
    <h1>Edit Evaluation</h1>

    {{ include('admin/evaluation/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_evaluation_index') }}">back to list</a>

    {{ include('admin/evaluation/_delete_form.html.twig') }}
{% endblock %}
