{% extends 'admin/layout.html.twig' %}

{% block title %}
	{{'Completion status' | trans}}
{% endblock %}

{% block content %}
	<div class="ion-padding">
		<h2>{{'Lessons' | trans}}</h2>
		{% include "admin/completion/_lessson.html.twig" %}

		<h2>{{'Modules' | trans}}</h2>
		{% include "admin/completion/_module.html.twig" %}

		<h2>{{'Courses' | trans}}</h2>
		{% include "admin/completion/_course.html.twig" %}
	</div>
{% endblock %}
