{% extends 'admin/layout.html.twig' %}

{% block title %}
	{{'Completion status' | trans}}
{% endblock %}

{% block content %}
	<div class="ion-padding">
		{% include "admin/completion/_lessson.html.twig" %}

		{% include "admin/completion/_module.html.twig" %}

		{% include "admin/completion/_course.html.twig" %}
	</div>
{% endblock %}
