<form method="post" action="{{ path('admin_module_delete', {'id': module.id}) }}" onsubmit="return confirm('{{'Êtes-vous sûr de vouloir supprimer cet élément ?' | trans}}');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ module.id) }}">
	<twig:Button variant="destructive">
        <twig:ux:icon name="lucide:trash-2" class="w-4 h-4 mr-2" />
        {{ 'Supprimer' | trans }}
    </twig:Button>
</form>
