{% extends 'admin/layout.html.twig' %}

{% block title %}
	{{'Modules' | trans}}
{% endblock %}

{% block content %}
	<a href="{{ path('admin_module_new') }}">{{'Create new' | trans}}</a>
	{% include "admin/module/_list.html.twig" %}
{% endblock %}
