{% extends 'admin/layout.html.twig' %}

{% block title %}
	{{'New module' | trans}}
{% endblock %}

{% block content %}
	<div class="ion-padding">

		{{ include('admin/module/_form.html.twig') }}

		<a href="{{ path('admin_module_index') }}">back to list</a>
	</div>
{% endblock %}
