{% extends 'admin/layout.html.twig' %}

{% block title %}
	{{'New module' | trans}}
{% endblock %}

{% block content %}
	<div class="ion-padding">
		{{ include('admin/module/_form.html.twig') }}

	</div>
{% endblock %}

{% block menuBackButton %}
	<ion-button href="{{path('admin_module_index')}}">
		<ion-icon name="arrow-back-outline"></ion-icon>
	</ion-button>
{% endblock %}
