{% extends 'admin/layout.html.twig' %}

{% block title %}
	{{'New page' | trans}}
{% endblock %}

{% block content %}
	<div class="ion-padding">
		{{ include('admin/page/_form.html.twig') }}
	</div>
{% endblock %}

{% block menuBackButton %}
	<ion-button href="{{path('admin_page_index')}}" color="light">
		<ion-icon name="arrow-back-outline"></ion-icon>
	</ion-button>
{% endblock %}


{% block javascripts %}
	<script src="https://cdn.jsdelivr.net/npm/tinymce@6.8.2/tinymce.min.js"></script>
	<link href="https://cdn.jsdelivr.net/npm/tinymce@6.8.2/skins/ui/oxide/content.min.css" rel="stylesheet">
	{{parent()}}
{% endblock %}
